<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food Journal APP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AED00051DC87779005E786C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AEDFFE11DC87777005E786C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AEDFFFA1DC87778005E786C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
